@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #191821;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1e1f35;

}

.goros-profile {
    display: flex;
    align-items: center;
}

.profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;

}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: #f5edff;
    text-decoration: none;
    cursor: default;
}

.logo:hover {
    color:aquamarine
}

.navbar {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.nav-link {
    display: flex;
    align-items: center;
    
}

.nav-link ul {
    display: flex;
    align-items: center;
}

.nav-link ul li {
    list-style: none;
    margin-left: 2rem;
}

.nav-link ul li a {
    text-decoration: none;
    color: #b3a8d7;
    font-size: 1.5rem;
    font-weight: 600;
}



.home-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pf {
    max-height: 300px;
    border-radius: 15px;
}


.name {
    background-image: linear-gradient( 109.6deg, rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% auto;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    cursor: default;
    transition: all 0.3s ease;
}

.name:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

#js-square:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

#html5:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

#css3:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

.subtitle {
    color: #b3a8d7;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.languages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #1e1f35;
    border-radius: 10px;
}

.languages-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.languages-wrapper ul li i {
    color: #b3a8d7;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.languages-wrapper ul li {
    list-style: none;
    margin: 0 1rem;
}

.project-wrapper {
    margin-top: 6rem;
    
}

.project {
    background-image: linear-gradient( 109.6deg, rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% auto;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    cursor: default;
}

.footer-wrapper {
    margin-top: 16rem;
    border-top: 1px solid #1e1f35;
    padding: 0 2rem;
    top: 0;
    left: 0;    
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    display: flex;
    z-index: 999;
}

#datetime {
    color: #b3a8d7;
}

#datetime:hover {
    cursor: default;
}

.right-reserved-text{
    color: #b3a8d7;
}

.right-reserved-text:hover{
    cursor: default;
}

.right-reserved-name {
    color: #f5edff;
}

.right-reserved-name:hover {
    cursor: default;
    color: aquamarine;
}